.header {
  width: calc(100vw - 60px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  z-index: 99;
}

.logo_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo_name {
  font-size: var(--heading-size);
  font-weight: var(--heading-weight);
}

.logo_icon {
  width: 46px;
  height: 46px;
  filter: drop-shadow(0 0 0.2rem var(--border-color));
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.menu_btn {
  text-decoration: none;
  color: var(--black-color);
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .DownloadButton {
    display: none;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .DownloadButton {
    display: none;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}
