@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
}

:root {
  --font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --primary-color: #4253ff;
  --heading-size: 24px;
  --heading-weight: 700;
  --white-color: white;
  --black-color: black;
  --border-color: #ebeff2;
  --off-white: #f8f8f8;
  --dark-border: #e2e6ea;
  --border-radius: 8px;
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  * {
    font-size: 16px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  * {
    font-size: 16px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}
